# dotenv environment variables file
.env
.env.test

# Dependency directories
node_modules/
api-graphql/node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history
